body {
  margin: 0;
  font-family: Megafon-regular, "Arial", serif;
  color: #333333;
  min-width: 375px;
}

@font-face {
  font-family: "MegaFon";
  src: local("Megafon"),
  url("./fonts/MegaFon-Graphik-LC-Web-Smbd-Regular.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Megafon-regular";
  src: local("Megafon-regular"),
  url("./fonts/MegaFon-Graphik-LC-Web-Lgt-Regular.woff") format("woff");
  font-weight: 400;
}